body {
    text-align: center;
    align-content: center;
    align-items: center;
    
}

table {
    margin: 0 auto;
}

a {
    display: inline-block;
    font-size: 25px;
    color:black;
    text-shadow: red 1px 1px;

}

li {
    display: inline-block;
    padding: 2em
}

ul {
    display: inline
}

.landingPic {
    max-width: 1024px;
    max-height: 400px;
}